@fontColor: #FFF;
@amsColor: rgb(235, 92, 32);

.toBox {
  margin-top: 10px;

  .toTitleBox {
    color: @fontColor;
  }

  .toAmountBox {
    margin-top: 10px;
    padding: 16px;
    background-color: #34353b;
    border-radius: 10px;

    p {
      color: @fontColor;

      span {
        font-weight: 700;
        color: @amsColor;
      }
    }
  }
}