@headerBgc: #181A1E;

.headersBox {
  position: absolute;
  right: 20px;

  .headerBtn {
    background-color: @amsColor;
    border: none;
    color: #FFF;

    &:hover {
      color: @tfnColor  !important;
      border: none;
    }
  }
}