@fontColor: #FFF;
@secondFontColor: hsla(205, 13%, 66%, 1);

.depositBox {
  width: 33%;
  min-width: 22rem;
  height: 98%;
  background-color: @tfnColor;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: @amsColor;

  padding: 15px 24px;
  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      margin: 0;
    }

    p {
      color: @fontColor;
    }
  }

  // .fromBox {
  //   .fromTitleBox {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;



  //     .fromLeftTitle {
  //       color: @fontColor;

  //     }

  //     .fromRightTitle {
  //       // color: #CC9D09;
  //       color: @amsColor;
  //       cursor: pointer;
  //       text-decoration: underline;

  //       &:hover {
  //         color: #F0B90B;
  //       }
  //     }
  //   }

  //   .fromAmountBox {
  //     color: @fontColor;

  //     background-color: @mainColor;

  //     border: 1px solid @amsColor;
  //     padding: 12px 16px;
  //     margin-top: 10px;
  //     border-radius: 10px;

  //     .fromInput {

  //       border: none;

  //     }
  //   }
  // }

  .swapBox {
    text-align: center;
    margin-top: 1.5rem;

    .swapIcon {
      background-color: @mainColor;

      color: @amsColor;
      transform: rotate(90deg);
      font-size: 3rem;
      color: #FFF;
      border-radius: 50%;
    }
  }


}