/* global.module.less */
html {
  background-color: #191B1F;
}

body {
  margin: 0;
}

h2 {
  color: red;
}

.flexcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h100 {
  height: 100%;
}

// 颜色相关
.red {
  color: red;
}

.green {
  color: green;
}

@tfnColor: #86E3CE;
@amsColor: rgb(235, 92, 32);

// 颜色相关
.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

// 字体相关
.ft10 {
  font-size: 10px;
}

.ft12 {
  font-size: 12px;
}

// 按钮相关
.baseBtn {
  background-color: @amsColor;
  border: none;
  color: #FFF;

  &:hover {
    color: @tfnColor  !important;
    border: none;
  }
}