@bgColor: #191B1F;
@baseFontColor: #FFF;

.layoutBox {
  height: 100vh;

  .headerBox {
    background-color: #03070f;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contentBox {
    background-color: #0f112d;
  }
}