@bgColor: #191B1F;
@baseFontColor: #FFF;
@amsColor: rgb(235, 92, 32);
@tfnColor: #86E3CE;

.layoutBox {
  height: 100vh;

  .headerBox {
    background-color: #2d2e33;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #FFF;
  }

  .contentBox {
    background-color: #2d2e33;

  }
}