.layoutBox {
  height: 100vh;

  .headerBox {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    border-bottom: 1px solid #FFF;
    padding: 0 20px;
    height: 4.2rem;
  }

  .headerBox,
  .contentBox {
    background-color: @mainColor;

  }
}